.space {
	height : 50px;
	width : 50px;
	margin: 0;
	padding: 0;
	border: 1px solid black;
}


.dark {
	background-color : grey;
}

.light {
	background-color : white;
}

.outer{
	text-align: center;
}
