#board {
	height: 450px;
	width: 450px;
	float: left;
}

#moves {
	border: 1px solid black;
	height: 450px;
	width: 200px;
	float: left;
}

.space {
	height : 50px;
	width : 50px;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	float: left;
}

.piece {
	font-size: 45px;
	-webkit-text-stroke: 1px black;
}

.dark {
	background-color : grey;
}

.light {
	background-color : white;
}

.selected {
	background-color : red;
}
