#board {
	height: 450px;
	width: 450px;
	float: left;
}

#moves {
	border: 1px solid black;
	height: 450px;
	width: 100px;
	float: left;
}

.space {
	height: 50px;
	width: 50px;
	border: 1px solid black;
	float: left;
	position: relative;
}

.piece {
	font-size: 35px;
	height: 50px;
	width: 50px;
	text-align: center;
	position: absolute;
}

.index {
	font-size: 10px;
	position: absolute;
}

.white {
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.black {
	color: black;
}

.dark {
	background-color : #996d54;
}

.light {
	background-color : #F1D4B2;
}

.selected {
	background-color : red;
}
