#board td {
	height : 50px;
	width : 50px;
	margin: 0;
	padding: 0;
}

#board tr {
	margin: 0;
	padding: 0;
}
#board td.dark {
	background-color : grey;
	color: white;
}
#board td.light {
	background-color : white;
	
}

#board td.outer{
	text-align: center;
}
